# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# PyCharm
.idea/

# Data files (optional - if large datasets)
data/
*.csv
*.zip
*.tar.gz

# Model files (very important)
*.pt
*.pth
*.h5
*.ckpt

# Secrets
.env
